
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

body {
font-size: 14px;
background-color:hsl(30, 38%, 92%);
/* Indica que o elemento irá ocumpar 100% da altura da janela*/
min-height: 100vh;
display: flex;
/* Centraliza no meio do topo */
justify-content: center;
/* centraliza no meio do centro */
align-items: center;

}

* {
    
/* permite incluir o preenchimento e a borda na largura e altura total de um elemento . */
box-sizing: border-box;
margin: 0;
padding: 0;
}


.card {
    
display: flex;
background-color: white;
border-radius: 10px;
width:666px;
/* indica que teremos uma margem 0 para o topo e a base e uma margem de 1rem: 16px para direita e a esquerda */
margin: 0 1rem;
    
}

.image_card {
/* indica que o tamanho da div com essa classe está com 50% do tamanho da largura */
width: 50%;
    
}

.image_card img {
/*indica que o tamanho da largura está 100% em relação ao tamanho do elemento pai (.card)  */
width: 100%;
/* indica que o tamanho da altura está 100% em relação ao tamanho do elemento pai (.card) */
height: 100%;
/* indica que o elemento dever ser dimensionado para preencher completamente o contêiner, 
mantendo a proporção original do elemento */
object-fit: cover;
/* Indica colocar o border-radius somente no canto superior do canto esquerdo */
border-top-left-radius: 10px;
/* indica colcoar o border-radius somente no canto inferior do canto esquerdo */
border-bottom-left-radius: 10px;
    
}
.details_card {
/* Indica que o tamanho da largura está 50% em relação ao tamanho do elemento pai (.card)  */
width: 50%;
/* indica que o tamanho do preenchimento terá um espaçamento interno 2x o tamanho da fonte atual */
padding: 1rem;
text-align: left;

    
}

.category {

font-family: 'Montserrat', sans-se;
padding: 1rem;
color: hsl(228, 12%, 48%);

}

.product_title {
color: hsl(212, 21%, 14%);
font-family: 'Fraunces', serif; ;
padding: 1rem;

}
.product_description {
font-family:'Montserrat', sans-se; ;
padding: 1rem;
/* define a altura de uma linha de texto, afetando assim o espaçamento vertical entre as linhas */
line-height: 1.7;
color: hsl(228, 12%, 48%);

}

.card_price {

display: flex;
gap: 1rem;
align-items: center;
padding: 1rem;


}

.new_price {
font-family: 'Fraunces', serif;
color: hsl(158, 36%, 37%);
padding: 1rem;

}

.old_price {
font-family:'Montserrat', sans-se; 
color: hsl(228, 12%, 48%);
/* Risca o texto  */
text-decoration: line-through;

}
 /* Representa um seletor descendente, que seleciona um elemento que está aninhado dentro de outro elemento */
.details_card .btn {
width: 100%;
border: 0;
/* Adiciona uma linha de contorno ao redor de um elemento, como uma borda. */
outline: 0;
background-color: hsl(158, 36%, 37%);
color: white;
display: flex;
justify-content: center;
align-items: center;
/* Conttrola o espaçamento entre os itens de um layout em grade(grid) ou flexivel(flex) */
gap: 1rem;
font-family:'Montserrat', sans-se; 
padding: 1rem 2rem;
border-radius: 10px;
/* É usada para indicar que o elemento é clicavel ou interativo */
cursor: pointer;
    

}
/* A regra media query defini estilos específicos para dispositivos com largura de tela igual ou inferior a 550 pixels */
@media only screen and (max-width:550px) {
.card {
margin-top: 1rem;
 margin-bottom: 1rem;
     
}
   
.image_card {
width: 100%;
height:40%;

}
/* Foi colocado uma outra imagem, porém para aparecer em dispositivos mobile */
.image_card img {
content: url("images/image-product-mobile.jpg")
}
/* Utilizando o flexbox para que elemento ficasse em baixo da imagem */
.card{
flex-direction: column;
}
.details_card {
width: 100%;
}

.details_card .product_title {
padding-right:0 ;

}

.image_card img {

border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 0px;
}

}